table {
  font-size: 2rem;
}

th {
  background-color: gray;
  color: white;
}

td:not(td:last-of-type) {
  background-color: lightgrey;
}

td:last-of-type {
  background-color: orangered;
  color: white;
}
